{% extends 'base.html' %}

{% block head %}
<title>YoBlog</title>
{% endblock %}

{% block body %}
<div class="text-center">
    <h1>YoBlog</h1>
</div>
<br>
<form action="/add" method="post">
    <div class="mb-3">
        <label for="form1" class="form-label">Title</label>
        <input type="text" class="form-control" id="form1" name="title">
    </div>
    <div class="mb-3">
        <label for="form2" class="form-label">Description</label>
        <textarea name="content" class="form-control" id="form2"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br><hr>
{% if posts %}
    {% for blog in posts %}
    <h2>{{ blog.title }}</h2><a href="/update/{{blog.id}}">Update</a>
    <p>{{ blog.content }}</p>
    <p><b>{{ blog.date_created.date() }}</b></p>
    <form action="/delete/{{blog.id}}" method="get">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <hr>
    {% endfor %}
{% else %}
    <div class="text-center">
        <h2>No blog post</h2>
    </div>
{% endif %}
{% endblock %}